* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #212121;
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
}

.img-wrapper {
  width: 400px;
  height: 280px;
  position: relative;
}

.img-wrapper__image {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s;
}

.img-wrapper:hover .img-wrapper__image {
  opacity: 0.7;
}

.img-wrapper__image img {
  width: 100%;
  height: 100%;
}

.img-wrapper__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)), color-stop(.5, #ffffff00));
  opacity: 0;
  transition: all 0.3s;
}

.img-wrapper:hover .img-wrapper__image::before {
  opacity: 1;
}

.img-wrapper__cation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrapper__cation h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  background: #000;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: all 0.3s;
  transform: translateY(20px);
}

.text-highlight {
  font-weight: 800;
}

.img-wrapper:hover .img-wrapper__cation h2 {
  transform: translateY(0);
}

.img-wrapper__iconBar {
  background: #fff;
  padding: 0px 60px;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
  transform: translateY(-50%);
}

.img-wrapper:hover .img-wrapper__iconBar {
  transform: translateY(0%);
}

.img-wrapper__iconBar ion-icon {
  font-size: 20px;
  color: rgb(0, 0, 0);
  opacity: 0.5;
  margin: 8px 10px 5px 10px;
  transform: translateY(-150%);
  transition: all 0.3s;
}

.img-wrapper:hover .img-wrapper__iconBar ion-icon {
  transform: translateY(0);
  transition-delay: 300ms;
}

.img-wrapper:hover .img-wrapper__iconBar ion-icon:nth-of-type(2) {
  transition-delay: 375ms;
}

.img-wrapper:hover .img-wrapper__iconBar ion-icon:nth-of-type(3) {
  transition-delay: 450ms;
}